version: '3'

services:
  app:
    build:
      dockerfile: docker/app/Dockerfile
      context: .
      args:
        - UID=$UID
        - GID=$GID
        - RUST_VERSION=$RUST_VERSION
    init: true
    volumes:
      - .:/home/vscode/workspace
    ports:
      - 3000:3000
